{
  "openapi": "3.1.0",
  "info": {
    "title": "Substrate API",
    "version": "2024-04-16",
    "contact": {
      "email": "support@substrate.run"
    },
    "description": "Substrate API"
  },
  "servers": [
    {
      "url": "https://api.substrate.run",
      "description": "Substrate API"
    }
  ],
  "components": {
    "schemas": {
      "ErrorOut": {
        "title": "ErrorOut",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["api_error", "invalid_request_error"],
            "description": "The type of error returned."
          },
          "message": {
            "type": "string",
            "description": "A message providing more details about the error."
          },
          "request_id": {
            "type": "string",
            "description": "A unique identifier for the request."
          }
        },
        "required": ["type", "message"]
      },
      "GenerateTextIn": {
        "title": "GenerateTextIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Input prompt."
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.4,
            "description": "Sampling temperature to use. Higher values make the output more random, lower values make the output more deterministic."
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          },
          "node": {
            "type": "string",
            "enum": ["Mistral7BInstruct"],
            "description": "Selected node.",
            "default": "Mistral7BInstruct"
          }
        },
        "required": ["prompt"]
      },
      "GenerateTextOut": {
        "title": "GenerateTextOut",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text response."
          }
        }
      },
      "GenerateJSONIn": {
        "title": "GenerateJSONIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Input prompt."
          },
          "json_schema": {
            "type": "object",
            "description": "JSON schema to guide `json_object` response.",
            "additionalProperties": true
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.4,
            "description": "Sampling temperature to use. Higher values make the output more random, lower values make the output more deterministic."
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          },
          "node": {
            "type": "string",
            "enum": ["Mistral7BInstruct"],
            "description": "Selected node.",
            "default": "Mistral7BInstruct"
          }
        },
        "required": ["prompt", "json_schema"]
      },
      "GenerateJSONOut": {
        "title": "GenerateJSONOut",
        "type": "object",
        "properties": {
          "json_object": {
            "type": "object",
            "description": "JSON response.",
            "additionalProperties": true
          }
        }
      },
      "MultiGenerateTextIn": {
        "title": "MultiGenerateTextIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Input prompt."
          },
          "batch_prompts": {
            "description": "Batch input prompts.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num_choices": {
            "type": "integer",
            "description": "Number of choices to generate.",
            "minimum": 1,
            "maximum": 8,
            "default": 1
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.4,
            "description": "Sampling temperature to use. Higher values make the output more random, lower values make the output more deterministic."
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          },
          "node": {
            "type": "string",
            "enum": ["Mistral7BInstruct"],
            "description": "Selected node.",
            "default": "Mistral7BInstruct"
          }
        },
        "required": []
      },
      "MultiGenerateTextOutput": {
        "title": "MultiGenerateTextOutput",
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "description": "Response choices.",
            "items": {
              "$ref": "#/components/schemas/GenerateTextOut"
            }
          }
        },
        "required": ["choices"]
      },
      "MultiGenerateTextOut": {
        "title": "MultiGenerateTextOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "A single output for `prompt`, or multiple outputs for `batch_prompts`.",
            "items": {
              "$ref": "#/components/schemas/MultiGenerateTextOutput"
            }
          }
        },
        "required": ["outputs"]
      },
      "MultiGenerateJSONIn": {
        "title": "MultiGenerateJSONIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Input prompt."
          },
          "json_schema": {
            "type": "object",
            "description": "JSON schema to guide `json_object` response.",
            "additionalProperties": true
          },
          "batch_prompts": {
            "description": "Batch input prompts.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "num_choices": {
            "type": "integer",
            "description": "Number of choices to generate.",
            "minimum": 1,
            "maximum": 8,
            "default": 2
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "default": 0.4,
            "description": "Sampling temperature to use. Higher values make the output more random, lower values make the output more deterministic."
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          },
          "node": {
            "type": "string",
            "enum": ["Mistral7BInstruct"],
            "description": "Selected node.",
            "default": "Mistral7BInstruct"
          }
        },
        "required": ["json_schema"]
      },
      "MultiGenerateJSONOutput": {
        "title": "MultiGenerateJSONOutput",
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "description": "Response choices.",
            "items": {
              "$ref": "#/components/schemas/GenerateJSONOut"
            }
          }
        },
        "required": ["choices"]
      },
      "MultiGenerateJSONOut": {
        "title": "MultiGenerateJSONOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "A single output for `prompt`, or multiple outputs for `batch_prompts`.",
            "items": {
              "$ref": "#/components/schemas/MultiGenerateJSONOutput"
            }
          }
        },
        "required": ["outputs"]
      },
      "Mistral7BInstructIn": {
        "title": "Mistral7BInstructIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Input prompt."
          },
          "num_choices": {
            "type": "integer",
            "description": "Number of choices to generate.",
            "minimum": 1,
            "maximum": 8,
            "default": 1
          },
          "json_schema": {
            "type": "object",
            "description": "JSON schema to guide response.",
            "additionalProperties": true
          },
          "batch_prompts": {
            "description": "Batch input prompts.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "temperature": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "Sampling temperature to use. Higher values make the output more random, lower values make the output more deterministic."
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate."
          }
        },
        "required": []
      },
      "Mistral7BInstructChoice": {
        "title": "Mistral7BInstructChoice",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text response, if `json_schema` was not provided."
          },
          "json_object": {
            "type": "object",
            "description": "JSON response, if `json_schema` was provided.",
            "additionalProperties": true
          }
        }
      },
      "Mistral7BInstructOutput": {
        "title": "Mistral7BInstructOutput",
        "type": "object",
        "properties": {
          "choices": {
            "type": "array",
            "description": "Response choices.",
            "items": {
              "$ref": "#/components/schemas/Mistral7BInstructChoice"
            }
          }
        },
        "required": ["choices"]
      },
      "Mistral7BInstructOut": {
        "title": "Mistral7BInstructOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "A single output for `prompt`, or multiple outputs for `batch_prompts`.",
            "items": {
              "$ref": "#/components/schemas/Mistral7BInstructOutput"
            }
          }
        },
        "required": ["outputs"]
      },
      "GenerateTextVisionIn": {
        "title": "GenerateTextVisionIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "image_uris": {
            "description": "Image prompts.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate.",
            "default": 800
          },
          "node": {
            "type": "string",
            "enum": ["Firellava13B"],
            "description": "Selected node.",
            "default": "Firellava13B"
          }
        },
        "required": ["prompt", "image_uris"]
      },
      "GenerateTextVisionOut": {
        "title": "GenerateTextVisionOut",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text response."
          }
        },
        "required": ["text"]
      },
      "Firellava13BIn": {
        "title": "Firellava13BIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "image_uris": {
            "description": "Image prompts.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "max_tokens": {
            "type": "integer",
            "description": "Maximum number of tokens to generate.",
            "default": 800
          }
        },
        "required": ["prompt", "image_uris"]
      },
      "Firellava13BOut": {
        "title": "Firellava13BOut",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text response."
          }
        },
        "required": ["text"]
      },
      "GenerateImageIn": {
        "title": "GenerateImageIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["StableDiffusionXL"],
            "description": "Selected node.",
            "default": "StableDiffusionXL"
          }
        },
        "required": ["prompt"]
      },
      "GenerateImageOut": {
        "title": "GenerateImageOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "MultiGenerateImageIn": {
        "title": "MultiGenerateImageIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "minimum": 1,
            "default": 2,
            "maximum": 8
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["StableDiffusionXL"],
            "description": "Selected node.",
            "default": "StableDiffusionXL"
          }
        },
        "required": ["prompt", "num_images"]
      },
      "MultiGenerateImageOut": {
        "title": "MultiGenerateImageOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/GenerateImageOut"
            }
          }
        },
        "required": ["outputs"]
      },
      "StableDiffusionXLIn": {
        "title": "StableDiffusionXLIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative input prompt."
          },
          "steps": {
            "type": "integer",
            "description": "Number of diffusion steps.",
            "default": 30,
            "minimum": 0,
            "maximum": 150
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "minimum": 1,
            "default": 1,
            "maximum": 8
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "height": {
            "type": "integer",
            "description": "Height of output image, in pixels.",
            "minimum": 256,
            "maximum": 1536,
            "default": 1024
          },
          "width": {
            "type": "integer",
            "description": "Width of output image, in pixels.",
            "minimum": 256,
            "maximum": 1536,
            "default": 1024
          },
          "seeds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Seeds for deterministic generation. Default is a random seed."
          },
          "guidance_scale": {
            "type": "number",
            "format": "float",
            "description": "Higher values adhere to the text prompt more strongly, typically at the expense of image quality.",
            "minimum": 0,
            "default": 7,
            "maximum": 30
          }
        },
        "required": ["prompt", "num_images"]
      },
      "StableDiffusionImage": {
        "title": "StableDiffusionImage",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          },
          "seed": {
            "type": "integer",
            "description": "The random noise seed used for generation."
          }
        },
        "required": ["image_uri", "seed"]
      },
      "StableDiffusionXLOut": {
        "title": "StableDiffusionXLOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/StableDiffusionImage"
            }
          }
        },
        "required": ["outputs"]
      },
      "StableDiffusionXLLightningIn": {
        "title": "StableDiffusionXLLightningIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative input prompt."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "default": 1,
            "minimum": 1,
            "maximum": 8
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "height": {
            "type": "integer",
            "description": "Height of output image, in pixels.",
            "minimum": 256,
            "maximum": 1536,
            "default": 1024
          },
          "width": {
            "type": "integer",
            "description": "Width of output image, in pixels.",
            "minimum": 256,
            "maximum": 1536,
            "default": 1024
          },
          "seeds": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Seeds for deterministic generation. Default is a random seed."
          }
        },
        "required": ["prompt"]
      },
      "StableDiffusionXLLightningOut": {
        "title": "StableDiffusionXLLightningOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/StableDiffusionImage"
            }
          }
        },
        "required": ["outputs"]
      },
      "StableDiffusionXLIPAdapterIn": {
        "title": "StableDiffusionXLIPAdapterIn",
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "image_prompt_uri": {
            "type": "string",
            "description": "Image prompt."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "default": 1,
            "minimum": 1,
            "maximum": 8
          },
          "ip_adapter_scale": {
            "type": "number",
            "format": "float",
            "description": "Controls the influence of the image prompt on the generated output.",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative input prompt."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "width": {
            "type": "integer",
            "description": "Width of output image, in pixels.",
            "minimum": 640,
            "maximum": 1536,
            "default": 1024
          },
          "height": {
            "type": "integer",
            "description": "Height of output image, in pixels.",
            "minimum": 640,
            "maximum": 1536,
            "default": 1024
          },
          "seeds": {
            "description": "Random noise seeds. Default is random seeds for each generation.",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["prompt", "num_images"]
      },
      "StableDiffusionXLIPAdapterOut": {
        "title": "StableDiffusionXLIPAdapterOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/StableDiffusionImage"
            }
          }
        },
        "required": ["outputs"]
      },
      "StableDiffusionXLControlNetIn": {
        "title": "StableDiffusionXLControlNetIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "control_method": {
            "type": "string",
            "enum": ["edge", "depth", "illusion"],
            "description": "Strategy to control generation using the input image."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "default": 1,
            "minimum": 1,
            "maximum": 8
          },
          "output_resolution": {
            "type": "integer",
            "description": "Resolution of the output image, in pixels.",
            "default": 1024
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative input prompt."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "conditioning_scale": {
            "type": "number",
            "format": "float",
            "description": "Controls the influence of the input image on the generated output.",
            "minimum": 0,
            "maximum": 1,
            "default": 0.5
          },
          "seeds": {
            "description": "Random noise seeds. Default is random seeds for each generation.",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["image_uri", "control_method", "prompt", "num_images"]
      },
      "StableDiffusionXLControlNetOut": {
        "title": "StableDiffusionXLControlNetOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/StableDiffusionImage"
            }
          }
        },
        "required": ["outputs"]
      },
      "GenerativeEditImageIn": {
        "title": "GenerativeEditImageIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Original image."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "mask_image_uri": {
            "type": "string",
            "description": "Mask image that controls which pixels are inpainted. If unset, the entire image is edited (image-to-image)."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["StableDiffusionXLInpaint"],
            "description": "Selected node.",
            "default": "StableDiffusionXLInpaint"
          }
        },
        "required": ["image_uri", "prompt"]
      },
      "GenerativeEditImageOut": {
        "title": "GenerativeEditImageOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "MultiGenerativeEditImageIn": {
        "title": "MultiGenerativeEditImageIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Original image."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "mask_image_uri": {
            "type": "string",
            "description": "Mask image that controls which pixels are edited (inpainting). If unset, the entire image is edited (image-to-image)."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "minimum": 1,
            "default": 2,
            "maximum": 8
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["StableDiffusionXLInpaint"],
            "description": "Selected node.",
            "default": "StableDiffusionXLInpaint"
          }
        },
        "required": ["image_uri", "prompt", "num_images"]
      },
      "MultiGenerativeEditImageOut": {
        "title": "MultiGenerativeEditImageOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/GenerativeEditImageOut"
            }
          }
        },
        "required": ["outputs"]
      },
      "StableDiffusionXLInpaintIn": {
        "title": "StableDiffusionXLInpaintIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Original image."
          },
          "prompt": {
            "type": "string",
            "description": "Text prompt."
          },
          "mask_image_uri": {
            "type": "string",
            "description": "Mask image that controls which pixels are edited (inpainting). If unset, the entire image is edited (image-to-image)."
          },
          "num_images": {
            "type": "integer",
            "description": "Number of images to generate.",
            "default": 1,
            "minimum": 1,
            "maximum": 8
          },
          "output_resolution": {
            "type": "integer",
            "description": "Resolution of the output image, in pixels.",
            "default": 1024
          },
          "negative_prompt": {
            "type": "string",
            "description": "Negative input prompt."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "strength": {
            "type": "number",
            "format": "float",
            "description": "Controls the strength of the generation process.",
            "minimum": 0,
            "maximum": 1,
            "default": 0.8
          },
          "seeds": {
            "description": "Random noise seeds. Default is random seeds for each generation.",
            "type": "array",
            "items": {
              "type": "integer"
            }
          }
        },
        "required": ["image_uri", "prompt", "num_images"]
      },
      "StableDiffusionXLInpaintOut": {
        "title": "StableDiffusionXLInpaintOut",
        "type": "object",
        "properties": {
          "outputs": {
            "type": "array",
            "description": "Generated images.",
            "items": {
              "$ref": "#/components/schemas/StableDiffusionImage"
            }
          }
        },
        "required": ["outputs"]
      },
      "BoundingBox": {
        "title": "BoundingBox",
        "type": "object",
        "properties": {
          "x1": {
            "type": "number",
            "format": "float",
            "description": "Top left corner x."
          },
          "y1": {
            "type": "number",
            "format": "float",
            "description": "Top left corner y."
          },
          "x2": {
            "type": "number",
            "format": "float",
            "description": "Bottom right corner x."
          },
          "y2": {
            "type": "number",
            "format": "float",
            "description": "Bottom right corner y."
          }
        },
        "required": ["x1", "y1", "x2", "y2"]
      },
      "Point": {
        "title": "Point",
        "type": "object",
        "properties": {
          "x": {
            "type": "integer",
            "description": "X position."
          },
          "y": {
            "type": "integer",
            "description": "Y position."
          }
        },
        "required": ["x", "y"]
      },
      "FillMaskIn": {
        "title": "FillMaskIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "mask_image_uri": {
            "type": "string",
            "description": "Mask image that controls which pixels are inpainted."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["BigLaMa"],
            "description": "Selected node.",
            "default": "BigLaMa"
          }
        },
        "required": ["image_uri", "mask_image_uri"]
      },
      "FillMaskOut": {
        "title": "FillMaskOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "BigLaMaIn": {
        "title": "BigLaMaIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "mask_image_uri": {
            "type": "string",
            "description": "Mask image that controls which pixels are inpainted."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          }
        },
        "required": ["image_uri", "mask_image_uri"]
      },
      "BigLaMaOut": {
        "title": "BigLaMaOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "RemoveBackgroundIn": {
        "title": "RemoveBackgroundIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "return_mask": {
            "type": "boolean",
            "description": "Return a mask image instead of the original content.",
            "default": false
          },
          "background_color": {
            "type": "string",
            "description": "Hex value background color. Transparent if unset."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["DISISNet"],
            "description": "Selected node.",
            "default": "DISISNet"
          }
        },
        "required": ["image_uri"]
      },
      "RemoveBackgroundOut": {
        "title": "RemoveBackgroundOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "DISISNetIn": {
        "title": "DISISNetIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          }
        },
        "required": ["image_uri"]
      },
      "DISISNetOut": {
        "title": "DISISNetOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "UpscaleImageIn": {
        "title": "UpscaleImageIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["RealESRGAN"],
            "description": "Selected node.",
            "default": "RealESRGAN"
          }
        },
        "required": ["image_uri"]
      },
      "UpscaleImageOut": {
        "title": "UpscaleImageOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "RealESRGANIn": {
        "title": "RealESRGANIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          }
        },
        "required": ["image_uri"]
      },
      "RealESRGANOut": {
        "title": "RealESRGANOut",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["image_uri"]
      },
      "SegmentUnderPointIn": {
        "title": "SegmentUnderPointIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "point": {
            "description": "Point prompt.",
            "type": "object",
            "$ref": "#/components/schemas/Point"
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["SegmentAnything"],
            "description": "Selected node.",
            "default": "SegmentAnything"
          }
        },
        "required": ["image_uri", "point"]
      },
      "SegmentUnderPointOut": {
        "title": "SegmentUnderPointOut",
        "type": "object",
        "properties": {
          "mask_image_uri": {
            "type": "string",
            "description": "Detected segments in 'mask image' format. Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["mask_image_uri"]
      },
      "SegmentAnythingIn": {
        "title": "SegmentAnythingIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Input image."
          },
          "point_prompts": {
            "description": "Point prompts, to detect a segment under the point. One of `point_prompts` or `box_prompts` must be set.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Point"
            }
          },
          "box_prompts": {
            "description": "Box prompts, to detect a segment within the bounding box. One of `point_prompts` or `box_prompts` must be set.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BoundingBox"
            }
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an image URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the image data will be returned as a base64-encoded string."
          }
        },
        "required": ["image_uri"]
      },
      "SegmentAnythingOut": {
        "title": "SegmentAnythingOut",
        "type": "object",
        "properties": {
          "mask_image_uri": {
            "type": "string",
            "description": "Detected segments in 'mask image' format. Base 64-encoded JPEG image bytes, or a hosted image url if `store` is provided."
          }
        },
        "required": ["mask_image_uri"]
      },
      "TranscribeMediaIn": {
        "title": "TranscribeMediaIn",
        "type": "object",
        "properties": {
          "audio_uri": {
            "type": "string",
            "description": "Input audio."
          },
          "prompt": {
            "type": "string",
            "description": "Prompt to guide model on the content and context of input audio."
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language of input audio in [ISO-639-1](https://en.wikipedia.org/wiki/List_of_ISO_639_language_codes) format."
          },
          "segment": {
            "type": "boolean",
            "default": false,
            "description": "Segment the text into sentences with approximate timestamps."
          },
          "align": {
            "type": "boolean",
            "default": false,
            "description": "Align transcription to produce more accurate sentence-level timestamps and word-level timestamps. An array of word segments will be included in each sentence segment."
          },
          "diarize": {
            "type": "boolean",
            "default": false,
            "description": "Identify speakers for each segment. Speaker IDs will be included in each segment."
          },
          "suggest_chapters": {
            "type": "boolean",
            "default": false,
            "description": "Suggest automatic chapter markers."
          }
        },
        "required": ["audio_uri"]
      },
      "TranscribedWord": {
        "title": "TranscribedWord",
        "type": "object",
        "properties": {
          "word": {
            "type": "string",
            "description": "Text of word."
          },
          "start": {
            "type": "number",
            "format": "float",
            "description": "Start time of word, in seconds."
          },
          "end": {
            "type": "number",
            "format": "float",
            "description": "End time of word, in seconds."
          },
          "speaker": {
            "type": "string",
            "description": "ID of speaker, if `diarize` is enabled."
          }
        },
        "required": ["word"]
      },
      "TranscribedSegment": {
        "title": "TranscribedSegment",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text of segment."
          },
          "start": {
            "type": "number",
            "format": "float",
            "description": "Start time of segment, in seconds."
          },
          "end": {
            "type": "number",
            "format": "float",
            "description": "End time of segment, in seconds."
          },
          "speaker": {
            "type": "string",
            "description": "ID of speaker, if `diarize` is enabled."
          },
          "words": {
            "type": "array",
            "description": "Aligned words, if `align` is enabled.",
            "items": {
              "$ref": "#/components/schemas/TranscribedWord"
            }
          }
        },
        "required": ["text", "start", "end"]
      },
      "ChapterMarker": {
        "title": "ChapterMarker",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Chapter title."
          },
          "start": {
            "type": "number",
            "format": "float",
            "description": "Start time of chapter, in seconds."
          }
        },
        "required": ["title", "start"]
      },
      "TranscribeMediaOut": {
        "title": "TranscribeMediaOut",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Transcribed text."
          },
          "segments": {
            "type": "array",
            "description": "Transcribed segments, if `segment` is enabled.",
            "items": {
              "$ref": "#/components/schemas/TranscribedSegment"
            }
          },
          "chapters": {
            "type": "array",
            "description": "Chapter markers, if `suggest_chapters` is enabled.",
            "items": {
              "$ref": "#/components/schemas/ChapterMarker"
            }
          }
        },
        "required": ["text"]
      },
      "GenerateSpeechIn": {
        "title": "GenerateSpeechIn",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Input text."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an audio URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the audio data will be returned as a base64-encoded string."
          },
          "node": {
            "type": "string",
            "enum": ["XTTSV2"],
            "description": "Selected node.",
            "default": "XTTSV2"
          }
        },
        "required": ["text"]
      },
      "GenerateSpeechOut": {
        "title": "GenerateSpeechOut",
        "type": "object",
        "properties": {
          "audio_uri": {
            "type": "string",
            "description": "Base 64-encoded WAV audio bytes, or a hosted audio url if `store` is provided."
          }
        },
        "required": ["audio_uri"]
      },
      "XTTSV2In": {
        "title": "XTTSV2In",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Input text."
          },
          "audio_uri": {
            "type": "string",
            "description": "Reference audio used to synthesize the speaker. If unset, a default speaker voice will be used."
          },
          "language": {
            "type": "string",
            "default": "en",
            "description": "Language of input text. Supported languages: `en, de, fr, es, it, pt, pl, zh, ar, cs, ru, nl, tr, hu, ko`."
          },
          "store": {
            "type": "string",
            "description": "Use \"hosted\" to return an audio URL hosted on Substrate. You can also provide a URL to a registered [file store](/docs/file-stores). If unset, the audio data will be returned as a base64-encoded string."
          }
        },
        "required": ["text"]
      },
      "XTTSV2Out": {
        "title": "XTTSV2Out",
        "type": "object",
        "properties": {
          "audio_uri": {
            "type": "string",
            "description": "Base 64-encoded WAV audio bytes, or a hosted audio url if `store` is provided."
          }
        },
        "required": ["audio_uri"]
      },
      "Embedding": {
        "title": "Embedding",
        "type": "object",
        "properties": {
          "vector": {
            "type": "array",
            "description": "Embedding vector.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID."
          },
          "metadata": {
            "type": "object",
            "description": "Vector store document metadata.",
            "additionalProperties": true
          }
        },
        "required": ["vector"]
      },
      "EmbedTextIn": {
        "title": "EmbedTextIn",
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to embed."
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          },
          "metadata": {
            "type": "object",
            "description": "Metadata that can be used to query the vector store. Ignored if `store` is unset.",
            "additionalProperties": true
          },
          "embedded_metadata_keys": {
            "type": "array",
            "description": "Choose keys from `metadata` to embed with text.",
            "items": {
              "type": "string"
            }
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID. Ignored if `store` is unset."
          },
          "node": {
            "type": "string",
            "enum": ["JinaV2", "CLIP"],
            "description": "Selected node.",
            "default": "JinaV2"
          }
        },
        "required": ["text"]
      },
      "EmbedTextOut": {
        "title": "EmbedTextOut",
        "type": "object",
        "properties": {
          "embedding": {
            "type": "object",
            "description": "Generated embedding.",
            "$ref": "#/components/schemas/Embedding"
          }
        },
        "required": ["embedding"]
      },
      "EmbedTextItem": {
        "type": "object",
        "title": "EmbedTextItem",
        "properties": {
          "text": {
            "type": "string",
            "description": "Text to embed."
          },
          "metadata": {
            "type": "object",
            "description": "Metadata that can be used to query the vector store. Ignored if `store` is unset.",
            "additionalProperties": true
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID. Ignored if `store` is unset."
          }
        },
        "required": ["text"]
      },
      "MultiEmbedTextIn": {
        "title": "MultiEmbedTextIn",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Items to embed.",
            "items": {
              "$ref": "#/components/schemas/EmbedTextItem"
            }
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          },
          "embedded_metadata_keys": {
            "type": "array",
            "description": "Choose keys from `metadata` to embed with text.",
            "items": {
              "type": "string"
            }
          },
          "node": {
            "type": "string",
            "enum": ["JinaV2", "CLIP"],
            "description": "Selected node.",
            "default": "JinaV2"
          }
        },
        "required": ["items"]
      },
      "MultiEmbedTextOut": {
        "title": "MultiEmbedTextOut",
        "type": "object",
        "properties": {
          "embeddings": {
            "type": "array",
            "description": "Generated embeddings.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            }
          }
        },
        "required": ["embeddings"]
      },
      "JinaV2In": {
        "title": "JinaV2In",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Items to embed.",
            "items": {
              "$ref": "#/components/schemas/EmbedTextItem"
            }
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          },
          "embedded_metadata_keys": {
            "type": "array",
            "description": "Choose keys from `metadata` to embed with text.",
            "items": {
              "type": "string"
            }
          }
        },
        "required": ["items"]
      },
      "JinaV2Out": {
        "title": "JinaV2Out",
        "type": "object",
        "properties": {
          "embeddings": {
            "type": "array",
            "description": "Generated embeddings.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            }
          }
        },
        "required": ["embeddings"]
      },
      "EmbedImageIn": {
        "title": "EmbedImageIn",
        "type": "object",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Image to embed."
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID. Ignored if `store` is unset."
          },
          "node": {
            "type": "string",
            "enum": ["CLIP"],
            "description": "Selected node.",
            "default": "CLIP"
          }
        },
        "required": ["image_uri"]
      },
      "EmbedImageOut": {
        "title": "EmbedImageOut",
        "type": "object",
        "properties": {
          "embedding": {
            "type": "object",
            "description": "Generated embedding.",
            "$ref": "#/components/schemas/Embedding"
          }
        },
        "required": ["embedding"]
      },
      "EmbedImageItem": {
        "type": "object",
        "title": "EmbedImageItem",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Image to embed."
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID. Ignored if `store` is unset."
          }
        },
        "required": ["image_uri"]
      },
      "EmbedTextOrImageItem": {
        "type": "object",
        "title": "EmbedTextOrImageItem",
        "properties": {
          "image_uri": {
            "type": "string",
            "description": "Image to embed."
          },
          "text": {
            "type": "string",
            "description": "Text to embed."
          },
          "metadata": {
            "type": "object",
            "description": "Metadata that can be used to query the vector store. Ignored if `store` is unset.",
            "additionalProperties": true
          },
          "doc_id": {
            "type": "string",
            "description": "Vector store document ID. Ignored if `store` is unset."
          }
        },
        "required": []
      },
      "MultiEmbedImageIn": {
        "title": "MultiEmbedImageIn",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Items to embed.",
            "items": {
              "$ref": "#/components/schemas/EmbedImageItem"
            }
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          },
          "node": {
            "type": "string",
            "enum": ["CLIP"],
            "description": "Selected node.",
            "default": "CLIP"
          }
        },
        "required": ["items"]
      },
      "MultiEmbedImageOut": {
        "title": "MultiEmbedImageOut",
        "type": "object",
        "properties": {
          "embeddings": {
            "type": "array",
            "description": "Generated embeddings.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            }
          }
        },
        "required": ["embeddings"]
      },
      "CLIPIn": {
        "title": "CLIPIn",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Items to embed.",
            "items": {
              "$ref": "#/components/schemas/EmbedTextOrImageItem"
            }
          },
          "store": {
            "type": "string",
            "description": "[Vector store](/docs/vector-stores) identifier."
          }
        },
        "required": ["items"]
      },
      "CLIPOut": {
        "title": "CLIPOut",
        "type": "object",
        "properties": {
          "embeddings": {
            "type": "array",
            "description": "Generated embeddings.",
            "items": {
              "$ref": "#/components/schemas/Embedding"
            }
          }
        },
        "required": ["embeddings"]
      },
      "CreateVectorStoreIn": {
        "title": "CreateVectorStoreIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name.",
            "minLength": 1,
            "maxLength": 63
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "m": {
            "type": "integer",
            "minimum": 1,
            "maximum": 64,
            "default": 16,
            "description": "The max number of connections per layer for the index."
          },
          "ef_construction": {
            "type": "integer",
            "minimum": 1,
            "maximum": 128,
            "description": "The size of the dynamic candidate list for constructing the index graph.",
            "default": 64
          },
          "metric": {
            "type": "string",
            "enum": ["cosine", "l2", "inner"],
            "default": "inner",
            "description": "The distance metric to construct the index with."
          }
        },
        "required": ["name", "model"]
      },
      "CreateVectorStoreOut": {
        "title": "CreateVectorStoreOut",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name.",
            "minLength": 1,
            "maxLength": 63
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "m": {
            "type": "integer",
            "minimum": 1,
            "maximum": 64,
            "default": 16,
            "description": "The max number of connections per layer for the index."
          },
          "ef_construction": {
            "type": "integer",
            "minimum": 1,
            "maximum": 128,
            "description": "The size of the dynamic candidate list for constructing the index graph.",
            "default": 64
          },
          "metric": {
            "type": "string",
            "enum": ["cosine", "l2", "inner"],
            "default": "inner",
            "description": "The distance metric to construct the index with."
          }
        },
        "required": ["name", "model", "m", "ef_construction", "metric"]
      },
      "ListVectorStoresIn": {
        "title": "ListVectorStoresIn",
        "type": "object",
        "properties": {}
      },
      "ListVectorStoresOut": {
        "title": "ListVectorStoresOut",
        "type": "object",
        "properties": {
          "stores": {
            "type": "array",
            "description": "List of vector stores.",
            "items": {
              "$ref": "#/components/schemas/CreateVectorStoreOut"
            }
          }
        }
      },
      "DeleteVectorStoreIn": {
        "title": "DeleteVectorStoreIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          }
        },
        "required": ["name", "model"]
      },
      "DeleteVectorStoreOut": {
        "title": "DeleteVectorStoreOut",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          }
        },
        "required": ["name", "model"]
      },
      "Vector": {
        "title": "Vector",
        "type": "object",
        "description": "Canonical representation of document with embedding vector.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID."
          },
          "vector": {
            "type": "array",
            "description": "Embedding vector.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Document metadata.",
            "additionalProperties": true
          }
        },
        "required": ["id", "vector", "metadata"]
      },
      "FetchVectorsIn": {
        "title": "FetchVectorsIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "ids": {
            "type": "array",
            "description": "Document IDs to retrieve.",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          }
        },
        "required": ["name", "model", "ids"]
      },
      "FetchVectorsOut": {
        "title": "FetchVectorsOut",
        "type": "object",
        "properties": {
          "vectors": {
            "type": "array",
            "description": "Retrieved vectors.",
            "items": {
              "$ref": "#/components/schemas/Vector"
            }
          }
        },
        "required": ["vectors"]
      },
      "UpdateVectorsOut": {
        "title": "UpdateVectorsOut",
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of vectors modified."
          }
        },
        "required": ["count"]
      },
      "DeleteVectorsOut": {
        "title": "DeleteVectorsOut",
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "Number of vectors modified."
          }
        },
        "required": ["count"]
      },
      "UpdateVectorParams": {
        "title": "UpdateVectorParams",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID."
          },
          "vector": {
            "type": "array",
            "description": "Embedding vector.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Document metadata.",
            "additionalProperties": true
          }
        },
        "required": ["id"]
      },
      "UpdateVectorsIn": {
        "title": "UpdateVectorsIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "vectors": {
            "type": "array",
            "description": "Vectors to upsert.",
            "items": {
              "$ref": "#/components/schemas/UpdateVectorParams"
            },
            "maxItems": 100
          }
        },
        "required": ["name", "model", "vectors"]
      },
      "DeleteVectorsIn": {
        "title": "DeleteVectorsIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "ids": {
            "type": "array",
            "description": "Document IDs to delete.",
            "items": {
              "type": "string"
            },
            "maxItems": 100
          }
        },
        "required": ["name", "model", "ids"]
      },
      "QueryVectorStoreIn": {
        "title": "QueryVectorStoreIn",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Vector store to query against."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "query_strings": {
            "type": "array",
            "description": "Texts to embed and use for the query.",
            "items": {
              "type": "string"
            }
          },
          "query_image_uris": {
            "type": "array",
            "description": "Image URIs to embed and use for the query.",
            "items": {
              "type": "string"
            }
          },
          "query_vectors": {
            "type": "array",
            "description": "Vectors to use for the query.",
            "items": {
              "type": "array",
              "items": {
                "type": "number",
                "format": "float"
              }
            }
          },
          "query_ids": {
            "type": "array",
            "description": "Document IDs to use for the query.",
            "items": {
              "type": "string"
            }
          },
          "top_k": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 10,
            "description": "Number of results to return."
          },
          "ef_search": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000,
            "default": 40,
            "description": "The size of the dynamic candidate list for searching the index graph."
          },
          "include_values": {
            "type": "boolean",
            "default": false,
            "description": "Include the values of the vectors in the response."
          },
          "include_metadata": {
            "type": "boolean",
            "default": false,
            "description": "Include the metadata of the vectors in the response."
          },
          "filters": {
            "type": "object",
            "description": "Filter metadata by key-value pairs.",
            "additionalProperties": true
          },
          "metric": {
            "type": "string",
            "enum": ["cosine", "l2", "inner"],
            "description": "The distance metric used for the query. Defaults to the distance metric the vector store was created with."
          }
        },
        "required": ["name", "model"]
      },
      "VectorStoreQueryResult": {
        "title": "VectorStoreQueryResult",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Document ID."
          },
          "distance": {
            "type": "number",
            "format": "float",
            "description": "Similarity score."
          },
          "vector": {
            "type": "array",
            "description": "Embedding vector.",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Document metadata.",
            "additionalProperties": true
          }
        },
        "required": ["id", "distance"]
      },
      "QueryVectorStoreOut": {
        "title": "QueryVectorStoreOut",
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "description": "Query results.",
            "items": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/VectorStoreQueryResult"
              }
            }
          },
          "name": {
            "type": "string",
            "description": "Vector store name."
          },
          "model": {
            "type": "string",
            "description": "Selected embedding model.",
            "enum": ["jina-v2", "clip"]
          },
          "metric": {
            "type": "string",
            "enum": ["cosine", "l2", "inner"],
            "description": "The distance metric used for the query."
          }
        },
        "required": ["results"]
      }
    }
  },
  "paths": {
    "/GenerateText": {
      "post": {
        "summary": "GenerateText",
        "operationId": "GenerateText",
        "tags": ["category:language-generation", "backend:v1"],
        "description": "Generate text using a language model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextIn"
              },
              "example": {
                "prompt": "Who is Don Quixote?",
                "temperature": 0.4,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextOut"
                },
                "example": {
                  "text": "Don Quixote is a fictional character in the novel of the same name by Miguel de Cervantes."
                }
              }
            }
          }
        }
      }
    },
    "/MultiGenerateText": {
      "post": {
        "summary": "MultiGenerateText",
        "operationId": "MultiGenerateText",
        "tags": ["category:language-generation", "backend:v1"],
        "description": "Generate multiple text choices using a language model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiGenerateTextIn"
              },
              "example": {
                "prompt": "Who is Don Quixote?",
                "num_choices": 2,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiGenerateTextOut"
                },
                "example": {
                  "outputs": [
                    {
                      "choices": [
                        {
                          "text": "Don Quixote is a fictional character and the protagonist of the novel Don Quixote by Miguel..."
                        },
                        {
                          "text": "Don Quixote is a fictional character created by the Spanish author Miguel de Cervantes..."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/GenerateJSON": {
      "post": {
        "summary": "GenerateJSON",
        "operationId": "GenerateJSON",
        "tags": ["category:language-generation", "backend:v1"],
        "description": "Generate JSON using a language model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateJSONIn"
              },
              "example": {
                "prompt": "Who wrote Don Quixote?",
                "json_schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the author."
                    },
                    "bio": {
                      "type": "string",
                      "description": "Concise biography of the author."
                    }
                  }
                },
                "temperature": 0.4,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateJSONOut"
                },
                "example": {
                  "json_object": {}
                }
              }
            }
          }
        }
      }
    },
    "/MultiGenerateJSON": {
      "post": {
        "summary": "MultiGenerateJSON",
        "operationId": "MultiGenerateJSON",
        "tags": ["category:language-generation", "backend:v1"],
        "description": "Generate multiple JSON choices using a language model.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiGenerateJSONIn"
              },
              "example": {
                "prompt": "Who wrote Don Quixote?",
                "json_schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the author."
                    },
                    "bio": {
                      "type": "string",
                      "description": "Concise biography of the author."
                    }
                  }
                },
                "num_choices": 2,
                "temperature": 0.4,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiGenerateJSONOut"
                },
                "example": {
                  "outputs": [
                    {
                      "choices": [
                        {
                          "json_object": {}
                        },
                        {
                          "json_object": {}
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/GenerateTextVision": {
      "post": {
        "summary": "GenerateTextVision",
        "operationId": "GenerateTextVision",
        "tags": ["category:language-generation", "backend:v1"],
        "description": "Generate text with image input.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTextVisionIn"
              },
              "example": {
                "prompt": "what are these paintings of and who made them?",
                "image_uris": [
                  "https://media.substrate.run/docs-fuji-red.jpg",
                  "https://media.substrate.run/docs-fuji-blue.jpg"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTextVisionOut"
                },
                "example": {
                  "text": "The artist who created these paintings is Hokusai Katsushika, a renowned Japanese artist known for his woodblock prints and paintings."
                }
              }
            }
          }
        }
      }
    },
    "/Mistral7BInstruct": {
      "post": {
        "summary": "Mistral7BInstruct",
        "operationId": "Mistral7BInstruct",
        "tags": [
          "category:language-generation",
          "backend:v1",
          "type:low-level"
        ],
        "description": "Generate text using [Mistral 7B Instruct](https://mistral.ai/news/announcing-mistral-7b).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Mistral7BInstructIn"
              },
              "example": {
                "prompt": "Who is Don Quixote?",
                "num_choices": 2,
                "temperature": 0.4,
                "max_tokens": 800
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mistral7BInstructOut"
                },
                "example": {
                  "outputs": [
                    {
                      "choices": [
                        {
                          "text": "Don Quixote is a fictional character and the protagonist of the novel Don Quixote by Miguel..."
                        },
                        {
                          "text": "Don Quixote is a fictional character created by the Spanish author Miguel de Cervantes..."
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/Firellava13B": {
      "post": {
        "summary": "Firellava13B",
        "operationId": "Firellava13B",
        "tags": [
          "category:language-generation",
          "backend:v1",
          "type:low-level"
        ],
        "description": "Generate text with image input using [FireLLaVA 13B](https://fireworks.ai/blog/firellava-the-first-commercially-permissive-oss-llava-model).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Firellava13BIn"
              },
              "example": {
                "prompt": "what are these paintings of and who made them?",
                "image_uris": [
                  "https://media.substrate.run/docs-fuji-red.jpg",
                  "https://media.substrate.run/docs-fuji-blue.jpg"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Firellava13BOut"
                },
                "example": {
                  "text": "The artist who created these paintings is Hokusai Katsushika, a renowned Japanese artist known for his woodblock prints and paintings."
                }
              }
            }
          }
        }
      }
    },
    "/GenerateImage": {
      "post": {
        "summary": "GenerateImage",
        "operationId": "GenerateImage",
        "tags": ["category:image-generation", "backend:v0"],
        "description": "Generate an image.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateImageIn"
              },
              "example": {
                "prompt": "hokusai futuristic supercell spiral cloud with glowing core over turbulent ocean",
                "store": "hosted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateImageOut"
                },
                "example": {
                  "image_uri": "https://assets.substrate.run/84848484.jpg"
                }
              }
            }
          }
        }
      }
    },
    "/MultiGenerateImage": {
      "post": {
        "summary": "MultiGenerateImage",
        "operationId": "MultiGenerateImage",
        "tags": ["category:image-generation", "backend:v0"],
        "description": "Generate multiple images.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiGenerateImageIn"
              },
              "example": {
                "prompt": "hokusai futuristic supercell spiral cloud with glowing core over turbulent ocean",
                "store": "hosted",
                "num_images": 2
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiGenerateImageOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg"
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/GenerativeEditImage": {
      "post": {
        "summary": "GenerativeEditImage",
        "operationId": "GenerativeEditImage",
        "tags": ["category:image-generation", "backend:v0"],
        "description": "Edit an image using image generation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerativeEditImageIn"
              },
              "example": {
                "image_uri": "https://media.substrate.run/docs-klimt-park.jpg",
                "mask_image_uri": "https://media.substrate.run/spiral-logo.jpeg",
                "prompt": "large tropical colorful bright anime birds in a dark jungle full of vines, high resolution",
                "store": "hosted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerativeEditImageOut"
                },
                "example": {
                  "image_uri": "https://assets.substrate.run/84848484.jpg"
                }
              }
            }
          }
        }
      }
    },
    "/MultiGenerativeEditImage": {
      "post": {
        "summary": "MultiGenerativeEditImage",
        "operationId": "MultiGenerativeEditImage",
        "tags": ["category:image-generation", "backend:v0"],
        "description": "Edit multiple images using image generation.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MultiGenerativeEditImageIn"
              },
              "example": {
                "image_uri": "https://media.substrate.run/docs-klimt-park.jpg",
                "mask_image_uri": "https://media.substrate.run/spiral-logo.jpeg",
                "prompt": "large tropical colorful bright anime birds in a dark jungle full of vines, high resolution",
                "num_images": 2,
                "store": "hosted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MultiGenerativeEditImageOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg"
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/StableDiffusionXL": {
      "post": {
        "summary": "StableDiffusionXL",
        "operationId": "StableDiffusionXL",
        "tags": ["category:image-generation", "backend:v0", "type:low-level"],
        "description": "Generate an image using [Stable Diffusion XL](https://arxiv.org/abs/2307.01952).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionXLIn"
              },
              "example": {
                "prompt": "hokusai futuristic supercell spiral cloud with glowing core over turbulent ocean",
                "negative_prompt": "night, moon",
                "store": "hosted",
                "guidance_scale": 7,
                "num_images": 2,
                "seeds": [3306990332671669418, 13641924104177017164]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StableDiffusionXLOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg",
                      "seed": 3306990332671669418
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg",
                      "seed": 13641924104177017164
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/StableDiffusionXLLightning": {
      "post": {
        "summary": "StableDiffusionXLLightning",
        "operationId": "StableDiffusionXLLightning",
        "tags": ["category:image-generation", "backend:v0", "type:low-level"],
        "description": "Generate an image using [Stable Diffusion XL Lightning](https://arxiv.org/abs/2402.13929).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionXLLightningIn"
              },
              "example": {
                "prompt": "hokusai futuristic supercell spiral cloud with glowing core over turbulent ocean",
                "negative_prompt": "night, moon",
                "store": "hosted",
                "num_images": 2,
                "seeds": [3306990332671669418, 13641924104177017164]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StableDiffusionXLLightningOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg",
                      "seed": 3306990332671669418
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg",
                      "seed": 13641924104177017164
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/StableDiffusionXLInpaint": {
      "post": {
        "summary": "StableDiffusionXLInpaint",
        "operationId": "StableDiffusionXLInpaint",
        "tags": ["category:image-generation", "backend:v0", "type:low-level"],
        "description": "Edit an image using [Stable Diffusion XL](https://arxiv.org/abs/2307.01952). Supports inpainting (edit part of the image with a mask) and image-to-image (edit the full image).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionXLInpaintIn"
              },
              "example": {
                "image_uri": "https://media.substrate.run/docs-klimt-park.jpg",
                "mask_image_uri": "https://media.substrate.run/spiral-logo.jpeg",
                "prompt": "large tropical colorful bright birds in a jungle, high resolution oil painting",
                "negative_prompt": "dark, cartoon, anime",
                "strength": 0.8,
                "num_images": 2,
                "store": "hosted",
                "seeds": [16072680593433107326, 17203982922585031095]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StableDiffusionXLInpaintOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg",
                      "seed": 16072680593433107326
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg",
                      "seed": 17203982922585031095
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/StableDiffusionXLControlNet": {
      "post": {
        "summary": "StableDiffusionXLControlNet",
        "operationId": "StableDiffusionXLControlNet",
        "tags": ["category:image-generation", "type:low-level", "backend:v0"],
        "description": "Generate an image with generation structured by an input image, using Stable Diffusion XL with [ControlNet](https://arxiv.org/abs/2302.05543).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionXLControlNetIn"
              },
              "example": {
                "image_uri": "https://media.substrate.run/spiral-logo.jpeg",
                "prompt": "the futuristic solarpunk city of atlantis at sunset, cinematic bokeh HD",
                "control_method": "illusion",
                "conditioning_scale": 0.5,
                "store": "hosted",
                "num_images": 2,
                "seeds": [16072680593433107326, 17203982922585031095]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StableDiffusionXLControlNetOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg",
                      "seed": 16072680593433107326
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg",
                      "seed": 17203982922585031095
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/StableDiffusionXLIPAdapter": {
      "post": {
        "summary": "StableDiffusionXLIPAdapter",
        "operationId": "StableDiffusionXLIPAdapter",
        "tags": ["category:image-generation", "type:low-level", "backend:v0"],
        "description": "Generate an image with an image prompt, using Stable Diffusion XL with [IP-Adapter](https://arxiv.org/abs/2308.06721).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StableDiffusionXLIPAdapterIn"
              },
              "example": {
                "prompt": "woodblock wave at sunset",
                "negative_prompt": "low quality, low resolution",
                "image_prompt_uri": "https://guides.substrate.run/hokusai.jpeg",
                "store": "hosted",
                "num_images": 2,
                "ip_adapter_scale": 0.9,
                "seeds": [6565750906821527600, 9762512681041688800]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StableDiffusionXLIPAdapterOut"
                },
                "example": {
                  "outputs": [
                    {
                      "image_uri": "https://assets.substrate.run/84848484.jpg",
                      "seed": 6565750906821527600
                    },
                    {
                      "image_uri": "https://assets.substrate.run/48484848.jpg",
                      "seed": 9762512681041688800
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/TranscribeMedia": {
      "post": {
        "summary": "TranscribeMedia",
        "operationId": "TranscribeMedia",
        "tags": ["category:audio", "backend:v0"],
        "description": "Transcribe speech in an audio or video file.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscribeMediaIn"
              },
              "example": {
                "audio_uri": "https://media.substrate.run/dfw-clip.m4a",
                "prompt": "David Foster Wallace interviewed about US culture, and Infinite Jest",
                "segment": true,
                "align": true,
                "diarize": true,
                "suggest_chapters": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeMediaOut"
                },
                "example": {
                  "text": "language like that, the wounded inner child, the inner pain, is part of a kind of pop psychological movement in the United States that is a sort of popular Freudianism that ...",
                  "segments": [
                    {
                      "start": 0.874,
                      "end": 15.353,
                      "speaker": "SPEAKER_00",
                      "text": "language like that, the wounded inner child, the inner pain, is part of a kind of pop psychological movement in the United States that is a sort of popular Freudianism that",
                      "words": [
                        {
                          "word": "language",
                          "start": 0.874,
                          "end": 1.275,
                          "speaker": "SPEAKER_00"
                        },
                        {
                          "word": "like",
                          "start": 1.295,
                          "end": 1.455,
                          "speaker": "SPEAKER_00"
                        }
                      ]
                    }
                  ],
                  "chapters": [
                    {
                      "title": "Introduction to the Wounded Inner Child and Popular Psychology in US",
                      "start": 0.794
                    },
                    {
                      "title": "The Paradox of Popular Psychology and Anger in America",
                      "start": 16.186
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/GenerateSpeech": {
      "post": {
        "summary": "GenerateSpeech",
        "operationId": "GenerateSpeech",
        "tags": ["category:audio", "backend:v1"],
        "description": "Generate speech from text.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateSpeechIn"
              },
              "example": {
                "text": "Substrate: an underlying substance or layer.",
                "store": "hosted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateSpeechOut"
                },
                "example": {
                  "audio_uri": "https://assets.substrate.run/84848484.wav"
                }
              }
            }
          }
        }
      }
    },
    "/XTTSV2": {
      "post": {
        "summary": "XTTSV2",
        "operationId": "XTTSV2",
        "tags": ["category:audio", "type:low-level", "backend:v1"],
        "description": "Generate speech from text using [XTTS v2](https://docs.coqui.ai/en/latest/models/xtts.html).",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XTTSV2In"
              },
              "example": {
                "text": "Substrate: an underlying substance or layer.",
                "audio_uri": "https://media.substrate.run/docs-speaker.wav",
                "store": "hosted"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XTTSV2Out"
                },
                "example": {
                  "audio_uri": "https://assets.substrate.run/84848484.wav"
                }
              }
            }
          }
        }
      }
    },
    "/RemoveBackground": {
      "post": {
        "summary": "RemoveBackground",
        "operationId": "RemoveBackground",
        "tags": ["category:image-utility", "backend:v1"],
        "description": "Remove the background from an image, with the option to return the foreground as a mask.",
        "requestBody": {
          "content": {
[...]
